.title-2 {
  // font-family: 'Kenyan Coffee Italic';
  font-family: 'Kenyan Coffee';
  // font-size: 3.5rem;
  font-size: 4rem;
  line-height: 1;
}

.title-3 {
  // font-family: 'Kenyan Coffee Italic';
  font-family: 'Kenyan Coffee';
  font-size: 2rem;
}
