.beer {
  height: 100vh;
  width: 100%;
  display: flex;

  &>div {
    width: 50%;
    height: 100%;
    display: flex;
  }
}

// .left {
//   width: 55%;
// }

// .right {
//   width: 45%;
// }

// .left .inner {
//   height: 32rem;
//   margin: auto;
//   margin-right: 4rem;

//   img {
//     height: 100%;
//   }
// }

.placeholder {
  // width: 70vh;
  // height: 70vh;
  width: 55vh;
  height: 55vh;
  border-radius: 50%;
  margin: auto;
  margin-right: 5rem;
  // opacity: .8;
  position: relative;
  // display: flex;

  overflow: hidden;

  img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    // margin: auto;

    width: 100%;
  }
}

.right .inner {
  margin: auto;
  margin-left: 0;
}

.description {
  margin-top: 1rem;
  font-size: 1rem;
  opacity: .8;
  line-height: 1.4;
  max-width: 22rem;
}
